/**
 * All of the CSS for your admin-specific functionality should be included in this file.
 *
 * The file is enqueued from inc/admin/class-admin.php.
 */

 .table-wrap{
    padding:20px;

    table { 
      width: 100%; 
      border-collapse: collapse; 
      background:#CCC;
  }

td, th { 
  padding: 6px; 
  text-align: center;
  font-weight: normal; 
}
tr{
    td{
        &:first-child{
            text-align:left;
            width:200px;
        }
    }
}
.styled-checkbox {
  position: absolute; 
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

  // Box.
  & + label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: none;
}

  // Box hover
  // &:hover + label:before {
  //   background: #f35429;
  // }
  
  // Box checked
  &:checked + label:before {
    background: transparent;
}

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: none;
}

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    background-image: url(../images/check.png);
    position: absolute;
    left: 2px;
    top: 2px;
    height: 17px;
    width: 17px;
    background-repeat: no-repeat;
    background-position: center;
}
}
}
