/**
 * All of the CSS for your admin-specific functionality should be included in this file.
 *
 * The file is enqueued from inc/admin/class-admin.php.
 */
 .table-wrap {
    padding: 20px;
}
.table-wrap table {
    width: 100%;
    border-collapse: collapse;
}
.table-wrap td, .table-wrap th {
    padding: 6px;
    text-align: center;
    font-weight: normal;
}
.table-wrap tr td:first-child {
    text-align: left;
    width: 200px;
}
.table-wrap .styled-checkbox {
    position: absolute;
    opacity: 0;
}
.table-wrap .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.table-wrap .styled-checkbox + label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: none;
}
.table-wrap .styled-checkbox:checked + label:before {
    background: transparent;
}
.table-wrap .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.table-wrap .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: none;
}
.table-wrap .styled-checkbox:checked + label:after {
    content: '';
    background-image: url(../../../assets/images/check.png);
    position: absolute;
    left: 2px;
    top: 2px;
    height: 17px;
    width: 17px;
    background-repeat: no-repeat;
    background-position: center;
}
input#styled-checkbox-1-2 {
    display: none;
}
input#styled-checkbox-1-1 {
    display: none;
}

.col input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
}

.col:nth-of-type(2) {
    padding-left: 64px;
}

.wineresources_add_user_meta_form{
    width: 70%;
}

#wineresources_add_user_meta_ajax_form{
    border: 1px solid #ccc;
    padding: 0 20px;
    margin-bottom: 30px;
}

#wineresources_add_user_meta_ajax_form label{
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
}
#wineresources_add_user_meta_ajax_form .col {
    width: 47%;
    display: inline-block;
}
.wineresources_add_user_meta_form p.submit {

    margin-top:10px;
}

.wineresources_add_user_meta_form .button-primary{
    height: 43px;
    font-size: 17px;
    vertical-align: top;
    margin-top: 1px;
    width: 135px;
    line-height: 43px;
}
#wineresources_del_user_meta_ajax_form{
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-right: 15px;
}

#wineresources_del_user_meta_ajax_form select{
    width:75%;
    padding: 2px;
    line-height: 27px;
    height: 44px;
    vertical-align: top;
    font-size: 17px;
}

#wineresources_del_year_meta_ajax_form{
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
}
#wineresources_del_year_meta_ajax_form select{
    width:75%;
    padding: 2px;
    line-height: 27px;
    height: 44px;
    vertical-align: top;
    font-size: 17px;
}
a.button.button-primary.explore {
    margin-top: 40px;
}